/***********************************************

 Autores: Julian Ruiz - Eduardo Weinzettel

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
    --color-blanco: white;
    --color-azul: rgb(40, 8, 154);
    --color-celeste: rgb(29, 150, 190);
    --color-gris: rgb(51,81,96);
    --color-rosa: rgb(198,0,212);
    --color-verde: rgb(76, 175, 80);
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-celeste);
}

button {
    color: var(--color-blanco);
    background-color: var(--color-verde);
    border: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/* Color texto links */
a:link { text-decoration: none; color: var(--color-blanco);}
a:visited { text-decoration: none; color: var(--color-blanco);}

/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-azul);
}

/* Reordena los elementos del header (logo, titulo, notificaciones)*/
.main-header :nth-child(1) { order: 2; }
.main-header :nth-child(2) { order: 1; }
.main-header :nth-child(3) { order: 3; }

.main-header img{
    height: 100%;
    margin-left: 25px;
}

.main-header h1 {
    color: var(--color-blanco);
    margin-left: 50px;
}

.notifications {
    color: var(--color-blanco);
    margin-left: auto;
    margin-right: 25px;
}


/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu{
    background-color: var(--color-celeste);
    display: flex;
    flex-direction: column;
    float: left;
    border-left: 2px solid var(--color-gris);
}

.main-menu h2 {
    color: var(--color-blanco);
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 2px solid var(--color-gris);
}

/* Links menu lateral */ 
.main-menu a{
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 5px;
}

/* Separacion entre el icono y el texto de los items del menu lateral */
.main-menu span:nth-child(2){
    padding-left: 5px;
}

/* Separacion entre secciones del menu lateral */
.main-menu section {
    padding: 8px;
}

/* Color de fondo al pasar el mouse sobre una opcion del menu lateral*/
.main-menu a:hover {
    background-color: var(--color-rosa);
}


/* Productos */

main section{
    padding: 3px;
    background-color: var(--color-azul);
}

.exclusive-offers{
    color: var(--color-blanco);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
}

.exclusive-offers>h2 {
    color: var(--color-blanco);
    text-shadow: var(--color-rosa) 3px 2px 2px;
    padding: 8px;
}


.art-offer{
    display: flex;
    flex-direction: column;
    width: calc(700px / 3);
    background-color: var(--color-gris);
    border: 2px solid var(--color-blanco);
    box-shadow: 2px 2px var(--color-rosa);
}

.art-offer h3{
    font-size: 12px;
}

.art-offer>header {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.art-offer>header>p::before {
    content: "$"attr(data-art-old-price);
    display: inline-block;
    font-size: 14px;
    text-decoration: line-through;
    transform: rotate(-10deg);
    color: var(--color-blanco);
}

.art-offer>header>p {
    padding-top: 5px;
    font-size: 18px;
    color: var(--color-verde);
    text-align: center;
}


/* Imagenes de productos */
.art-offer>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.art-details {
    padding-bottom: 10px;
    flex: 1;
    color: var(--color-blanco);
}

.art-offer>footer {
    padding: 6px;
}

.art-offer button {
    margin-top: 5px;
}

/* ACTIVIDAD RECIENTE */
.activity {
    /* border: 2px solid var(--color-rosa); */
    padding: 0;
    border-radius: 6px;
    margin-top: 40px;
    margin-left: 80px;
    box-shadow: -0.4em 0 0.4em var(--color-rosa), 3px 3px var(--color-rosa);
}

.activity>h2 {
    color: var(--color-blanco);
    text-shadow: var(--color-rosa) 3px 2px 2px;
    padding: 5px;
    text-align: center;
}

.activity th, td{
    color: var(--color-blanco);
    padding: 8px;
}

.activity table {
    border-collapse: collapse;
}

.activity tr { 
    border: solid;
    border-width: 1px 0;
}

.activity tbody>tr:hover {
    background-color: var(--color-rosa);
}

/* TARJETAS */
.cards {
    border-radius: 10px;
    padding: 0;
    margin-top: 40px;
    margin-right: 80px;
    margin-left: auto;
    box-shadow: -0.4em 0 0.4em var(--color-rosa), 3px 3px var(--color-rosa);
}

.cards > h2 {
    color: var(--color-blanco);
    text-shadow: var(--color-rosa) 3px 2px 2px;
    padding: 5px;
    text-align: center;
}

.card{
    background-color: var(--color-gris);
    margin-top: 6px;
    border: 2px solid var(--color-rosa);
    border-radius: 8px;
    margin-left: 6px;
    padding: 0;
    box-shadow: 5px 10px 24px 0px var(--color-rosa);
}

.card > *{
    color: var(--color-blanco);
    margin-left: 6px;
    text-shadow: var(--color-rosa) 2px 2px 2px;
    transition: all .2s ease-in-out;
}

.card > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card > img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Transicion/Transformacion tarjetas */
.card:hover {
    transform: scale(1.1);
    z-index: 1;
    margin-left: 20px;
}

/* CONTROL DE STOCK */
.stock-control{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 40px 40px 0px 40px;
    border-radius: 10px;
}

.stock-control>h2{
    color: var(--color-blanco);
    text-shadow: var(--color-rosa) 3px 2px 2px;
    margin-left: 10px;
}

.stock-alert{
    color: var(--color-blanco);
    width: 110px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
}

.stock-alert>h3{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.stock-alert[data-alert-level="high"] {
    background-color: var(--color-rosa);
    height: 100%;
    padding: 3px;
}

.stock-alert[data-alert-level="medium"] {
    background-color: var(--color-celeste);
    height: 100%;
    padding: 3px;
}

.stock-alert[data-alert-level="low"] {
    background-color: var(--color-verde);
    height: 100%;
    padding: 3px;
}

.stock-alert::after {
    content: "Disp: " attr(data-stock);
    font-weight: bold;
}

/* COTIZACION DOLAR */
.currency{
    color: var(--color-blanco);
    text-shadow: var(--color-rosa) 3px 2px 2px;
    margin-top: 40px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 10px;
}

.currency>h2::after{
    content: "💲";
    text-shadow: none;
}

.loading{
    width: 100px;
    display: flex;
    margin-top: 20px;
}

.loading-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Animacion carga cotizacion dolar */
@keyframes botones-carga {
    0%   {visibility:visible; transform: translateY(0);}
    25%  {visibility:visible; transform: translateY(-10px);}
    50% {visibility:visible; transform: translateY(0);}
    75% {visibility:visible; transform: translateY(-10px);}
    100% {visibility:visible; transform: translateY(0px);}
}

.loading :nth-child(1) {
    background-color: var(--color-rosa);
    visibility: hidden;
    animation: botones-carga 1s alternate 3 ease-in-out;
    animation-delay: 0.2s;
}

.loading :nth-child(2) {
    background-color: var(--color-celeste);
    visibility: hidden;
    animation: botones-carga 1s alternate 3 ease-in-out;
    animation-delay: 0.4s;
}

.loading :nth-child(3) {
    background-color: var(--color-verde);
    visibility: hidden;
    animation: botones-carga 1s alternate 3 ease-in-out;
    animation-delay: 0.6s;
}

@keyframes cotizacion-dolar {
    0%   {visibility:hidden;}
    100% {visibility:hidden;}
}

.currency>p{
    display: block;
    position: relative;
    bottom: 25px;
    padding-bottom: 5px;
    animation: cotizacion-dolar 3.6s;
}


/* AYUDA EN LINEA */
.contact-support{
    color: var(--color-blanco);
    background-color: var(--color-verde);
    border-radius: 8px;
    position: sticky;
    bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    height: 45px;
}

.contact-text{
    font-weight: bold;
}

/* FOOTER */
.main-footer{
    background-color: var(--color-rosa);
    width: 100%;
    margin-top: 100px;
}

/* ESTILOS DE ...*/