/***********************************************

 Autores: Julian Ruiz - Eduardo Weinzettel

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
    --color-header: rgb(40, 8, 154);
    --color-barra-navegacion: rgb(8, 173, 214);
}

/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-header);
}

/* Reordena los elementos del header (logo, titulo, notificaciones)*/
.main-header :nth-child(1) { order: 2; }
.main-header :nth-child(2) { order: 1; }
.main-header :nth-child(3) { order: 3; }

.main-header img{
    height: 100%;
    margin-left: 25px;
}

.main-header h1 {
    margin-left: 50px;
    color: white;
}

.notifications {
    margin-left: auto;
    margin-right: 25px;
    color: goldenrod;
}


/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu{
    background-color: var(--color-barra-navegacion);
    display: flex;
    flex-direction: column;
}

/* Links menu lateral */
.main-menu a{
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 5px;
    text-decoration: none;
}

.main-menu span:nth-child(2){
    padding-left: 5px;
}

/* Color de fondo al pasar el mouse sobre una opcion del menu lateral*/
.main-menu a:hover {
    background-color: yellow;
}

.main-menu section {
    padding: 8px;
}


main section{
    padding: 3px;
    background-color: green;
}



/* PLANTILLA DE PRODUCTOS */
.card{
    background-color: brown;
}

/* CONTROL DE STOCK */
.stock-control{
    display: flex;
}
.stock-alert{
    width: 110px;
    height: 60px;
}

/* COTIZACION DOLAR */
.loading{
    width: 100px;
    display: flex;
}
.loading-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightblue;
}
.currency>p{
    display: none;
}

/* FOOTER */
.main-footer{
    background-color: violet;
}

/* ESTILOS DE ...*/