/***********************************************

 Autores: Julian Ruiz - Eduardo Weinzettel

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
    --color-header: rgb(40, 8, 154);
    --color-barra-navegacion: lightblue;
    --color-fondo-main: rgb(38, 73, 250);
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(252, 216, 186);
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/* Color texto links */
a:link { text-decoration: none; color: blue}
a:visited { text-decoration: none; color: blue}

/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-header);
}

/* Reordena los elementos del header (logo, titulo, notificaciones)*/
.main-header :nth-child(1) { order: 2; }
.main-header :nth-child(2) { order: 1; }
.main-header :nth-child(3) { order: 3; }

.main-header img{
    height: 100%;
    margin-left: 25px;
}

.main-header h1 {
    margin-left: 50px;
    color: white;
}

.notifications {
    margin-left: auto;
    margin-right: 25px;
    color: goldenrod;
}


/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu{
    background-color: var(--color-barra-navegacion);
    display: flex;
    flex-direction: column;
    float: left;
}

/* Links menu lateral */ 
.main-menu a{
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 5px;
}

/* Separacion entre el icono y el texto de los items del menu lateral */
.main-menu span:nth-child(2){
    padding-left: 5px;
}

/* Separacion entre secciones del menu lateral */
.main-menu section {
    padding: 8px;
}

/* Color de fondo al pasar el mouse sobre una opcion del menu lateral*/
.main-menu a:hover {
    background-color: orange;
}


/* Productos */

main section{
    padding: 3px;
    background-color: var(--color-fondo-main);
}

.exclusive-offers{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
}

.exclusive-offers>h2 {
    color: white;
    padding: 5px;
}

.art-offer h3 {
    font-size: 12px;
}

.art-offer{
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 2px;
    background-color: rgb(252, 216, 186);
}

/* Imagenes de productos */
.art-offer>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.art-details {
    padding-bottom: 10px;
    flex: 1;
    color: white;
}

.art-offer>footer {
    padding: 4px;
}

.art-offer button {
    margin-top: 5px;
}

/* ACTIVIDAD RECIENTE */
.activity {
    border: 2px solid black;
    padding: 0;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 80px;
    box-shadow: 3px 3px black
}

.activity>h2 {
    color: white;
    background-color: rgb(42, 41, 41);
    padding: 5px;
    text-align: center;
}

.activity th, td{
    color: white;
    padding: 8px;
}

.activity table {
    border-collapse: collapse;
}

.activity tr { 
    border: solid;
    border-width: 1px 0;
}

.activity tbody>tr:hover {
    background-color: orange;
}

/* TARJETAS */
.cards {
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 0;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: auto;
    box-shadow: -0.4em 0 0.4em goldenrod, 3px 3px black;
}

.cards>h2 {
    color: whitesmoke;
    text-shadow: red 3px 2px 2px;
    padding: 5px;
    text-align: center;
}

.card{
    background-color: #335160;
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 6px;
    padding: 0;
    box-shadow: 5px 10px 24px 0px rgba(198,0,212,1);
}

.card > *{
    color: whitesmoke;
    margin-left: 6px;
    text-shadow: rgba(198,0,212,1) 2px 2px 2px;
    transition: all .2s ease-in-out;
}

.card > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card > img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Transicion tarjetas */
.card:hover {
    transform: scale(1.1);
    z-index: 1;
    margin-left: 20px;
}

/* CONTROL DE STOCK */
.stock-control{
    display: flex;
    flex: 1;
    align-items: center;
    margin: 30px 40px 30px 40px;
    border-radius: 10px;
}

.stock-control>h2{
    color: white;
    margin-left: 10px;
}

.stock-alert{
    width: 110px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
}

.stock-alert>h3{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.stock-alert[data-alert-level="high"] {
    background-color: green;
    height: 100%;
    padding: 3px;
}

.stock-alert[data-alert-level="medium"] {
    background-color: yellow;
    height: 100%;
    padding: 3px;
}

.stock-alert[data-alert-level="low"] {
    background-color: red;
    height: 100%;
    padding: 3px;
}

.stock-alert::after {
    content: "Disp: " attr(data-stock);
    font-weight: bold;
}

/* COTIZACION DOLAR */
.loading{
    width: 100px;
    display: flex;
}
.loading-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightblue;
}
.currency>p{
    display: none;
}

/* FOOTER */
.main-footer{
    background-color: violet;
}

/* ESTILOS DE ...*/